<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">AR</li>
  </ol>
</nav>
<h2>AR List</h2>
<form #f="ngForm">
  <mat-form-field>
    <mat-label>document_name:</mat-label>
    <input matInput type="search" [(ngModel)]="filter.document_name" id="document_name" name="document_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>prj_ar_date:</mat-label>
    <input matInput type="search" [(ngModel)]="filter.prj_ar_date" id="prj_ar_date" name="prj_ar_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>accounts_ar_ar_1_name:</mat-label>
    <input matInput type="search" [(ngModel)]="filter.accounts_ar_ar_1_name" id="accounts_ar_ar_1_name" name="accounts_ar_ar_1_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>project_ar_ar_1_name:</mat-label>
    <input matInput type="search" [(ngModel)]="filter.project_ar_ar_1_name" id="project_ar_ar_1_name" name="project_ar_ar_1_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>ar_func_dropdown_forfilter_c:</mat-label>
    <input matInput type="search" [(ngModel)]="filter.ar_func_dropdown_forfilter_c" id="ar_func_dropdown_forfilter_c" name="ar_func_dropdown_forfilter_c">
  </mat-form-field>
  <mat-form-field>
    <mat-label>ar_index_c:</mat-label>
    <input matInput type="search" [(ngModel)]="filter.ar_index_c" id="ar_index_c" name="ar_index_c">
  </mat-form-field>
  <mat-form-field>
    <mat-label>ar_inter_co_text_c:</mat-label>
    <input matInput type="search" [(ngModel)]="filter.ar_inter_co_text_c" id="ar_inter_co_text_c" name="ar_inter_co_text_c">
  </mat-form-field>
  <mat-form-field>
    <mat-label>ar_latest_comment_c:</mat-label>
    <input matInput type="search" [(ngModel)]="filter.ar_latest_comment_c" id="ar_latest_comment_c" name="ar_latest_comment_c">
  </mat-form-field>
  <mat-form-field>
    <mat-label>ar_payment_date_comments_c:</mat-label>
    <input matInput type="search" [(ngModel)]="filter.ar_payment_date_comments_c" id="ar_payment_date_comments_c" name="ar_payment_date_comments_c">
  </mat-form-field>
  <mat-form-field>
    <mat-label>ar_payment_delta_c:</mat-label>
    <input matInput type="search" [(ngModel)]="filter.ar_payment_delta_c" id="ar_payment_delta_c" name="ar_payment_delta_c">
  </mat-form-field>
  <mat-form-field>
    <mat-label>ar_reg_dropdown_forfilter_c:</mat-label>
    <input matInput type="search" [(ngModel)]="filter.ar_reg_dropdown_forfilter_c" id="ar_reg_dropdown_forfilter_c" name="ar_reg_dropdown_forfilter_c">
  </mat-form-field>
  <mat-form-field>
    <mat-label>prj_ar_amount_c:</mat-label>
    <input matInput type="search" [(ngModel)]="filter.prj_ar_amount_c" id="prj_ar_amount_c" name="prj_ar_amount_c">
  </mat-form-field>
  <mat-form-field>
    <mat-label>prj_ar_amount_outstanding_c:</mat-label>
    <input matInput type="search" [(ngModel)]="filter.prj_ar_amount_outstanding_c" id="prj_ar_amount_outstanding_c" name="prj_ar_amount_outstanding_c">
  </mat-form-field>
  <mat-form-field>
    <mat-label>prj_ar_billing_org_c:</mat-label>
    <input matInput type="search" [(ngModel)]="filter.prj_ar_billing_org_c" id="prj_ar_billing_org_c" name="prj_ar_billing_org_c">
  </mat-form-field>
  <mat-form-field>
    <mat-label>prj_ar_days_c:</mat-label>
    <input matInput type="search" [(ngModel)]="filter.prj_ar_days_c" id="prj_ar_days_c" name="prj_ar_days_c">
  </mat-form-field>
  <mat-form-field>
    <mat-label>prj_ar_evc_code_c:</mat-label>
    <input matInput type="search" [(ngModel)]="filter.prj_ar_evc_code_c" id="prj_ar_evc_code_c" name="prj_ar_evc_code_c">
  </mat-form-field>
  <mat-form-field>
    <mat-label>prj_ar_evc_name_c:</mat-label>
    <input matInput type="search" [(ngModel)]="filter.prj_ar_evc_name_c" id="prj_ar_evc_name_c" name="prj_ar_evc_name_c">
  </mat-form-field>
  <mat-form-field>
    <mat-label>prj_ar_inv_date_c:</mat-label>
    <input matInput type="search" [(ngModel)]="filter.prj_ar_inv_date_c" id="prj_ar_inv_date_c" name="prj_ar_inv_date_c">
  </mat-form-field>
  <mat-form-field>
    <mat-label>prj_ar_inv_no_c:</mat-label>
    <input matInput type="search" [(ngModel)]="filter.prj_ar_inv_no_c" id="prj_ar_inv_no_c" name="prj_ar_inv_no_c">
  </mat-form-field>
  <mat-form-field>
    <mat-label>prj_ar_pm_c:</mat-label>
    <input matInput type="search" [(ngModel)]="filter.prj_ar_pm_c" id="prj_ar_pm_c" name="prj_ar_pm_c">
  </mat-form-field>
  <mat-form-field>
    <mat-label>prj_ar_proj_name_c:</mat-label>
    <input matInput type="search" [(ngModel)]="filter.prj_ar_proj_name_c" id="prj_ar_proj_name_c" name="prj_ar_proj_name_c">
  </mat-form-field>
  <mat-form-field>
    <mat-label>prj_ar_proj_no_c:</mat-label>
    <input matInput type="search" [(ngModel)]="filter.prj_ar_proj_no_c" id="prj_ar_proj_no_c" name="prj_ar_proj_no_c">
  </mat-form-field>
  <button mat-mini-fab color="primary" (click)="search()" [disabled]="!f?.valid"><mat-icon>search</mat-icon></button>
  <a mat-mini-fab color="accent" [routerLink]="['../arArs', 'new' ]"><mat-icon>add</mat-icon></a>
</form>
<div *ngIf="arArList.length > 0">
  <!-- todo: figure out better material styling for alerts -->
  <div *ngIf="feedback.message" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <table mat-table #table [dataSource]="arArList">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="document_name">
      <mat-header-cell *matHeaderCellDef> AR Name </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.document_name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="accounts_ar_ar_1_name">
      <mat-header-cell *matHeaderCellDef> Account </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.accounts_ar_ar_1_name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="project_ar_ar_1_name">
      <mat-header-cell *matHeaderCellDef> Projects </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.project_ar_ar_1_name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ar_inter_co_text_c">
      <mat-header-cell *matHeaderCellDef> Inter Company </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.ar_inter_co_text_c}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="prj_ar_pm_c">
      <mat-header-cell *matHeaderCellDef> PM </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.prj_ar_pm_c}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="prj_ar_evc_name_c">
      <mat-header-cell *matHeaderCellDef> EVC name </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.prj_ar_evc_name_c}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="prj_ar_billing_org_c">
      <mat-header-cell *matHeaderCellDef> Org </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.prj_ar_billing_org_c}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ar_func_dropdown_forfilter_c">
      <mat-header-cell *matHeaderCellDef> Function </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.ar_func_dropdown_forfilter_c}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ar_reg_dropdown_forfilter_c">
      <mat-header-cell *matHeaderCellDef> Region </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.ar_reg_dropdown_forfilter_c}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="prj_ar_proj_no_c">
      <mat-header-cell *matHeaderCellDef> Prj No </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.prj_ar_proj_no_c}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="prj_ar_proj_name_c">
      <mat-header-cell *matHeaderCellDef> Project name </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.prj_ar_proj_name_c}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="prj_ar_inv_no_c">
      <mat-header-cell *matHeaderCellDef> Inv no </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.prj_ar_inv_no_c}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="prj_ar_inv_date_c">
      <mat-header-cell *matHeaderCellDef> Inv date </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.prj_ar_inv_date_c}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ar_index_c">
      <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.ar_index_c}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ar_payment_date_comments_c">
      <mat-header-cell *matHeaderCellDef> Payment date Comments </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.ar_payment_date_comments_c}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="prj_ar_amount_c">
      <mat-header-cell *matHeaderCellDef> Invoice </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.prj_ar_amount_c}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="prj_ar_days_c">
      <mat-header-cell *matHeaderCellDef> Days </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.prj_ar_days_c}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ar_payment_delta_c">
      <mat-header-cell *matHeaderCellDef> Payment days Diff </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.ar_payment_delta_c}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="prj_ar_amount_outstanding_c">
      <mat-header-cell *matHeaderCellDef> AR Bal </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.prj_ar_amount_outstanding_c}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="prj_ar_evc_code_c">
      <mat-header-cell *matHeaderCellDef> Code </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.prj_ar_evc_code_c}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ar_latest_comment_c">
      <mat-header-cell *matHeaderCellDef> AR comment </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.ar_latest_comment_c}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="prj_ar_date">
      <mat-header-cell *matHeaderCellDef> Est. Pay </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.prj_ar_date}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let item">
        <a [routerLink]="['../arArs', item.id ]" mat-raised-button color="primary">Edit</a>&nbsp;
        <button (click)="delete(item)" mat-button color="warn"><mat-icon>delete</mat-icon></button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
</div>
