<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active"><%=model.title%></li>
  </ol>
</nav>
<h2><%=model.title%> List</h2>
<form #f="ngForm">
  <%_ for (let field of getFilterFields(model)) { -%>
  <mat-form-field>
    <mat-label><%=field.label%>:</mat-label>
    <input matInput type="search" [(ngModel)]="filter.<%=field.name%>" id="<%=field.name%>" name="<%=field.name%>">
  </mat-form-field>
  <%_ } -%>
  <button mat-mini-fab color="primary" (click)="search()" [disabled]="!f?.valid"><mat-icon>search</mat-icon></button>
  <a mat-mini-fab color="accent" [routerLink]="['../<%=pluralize(name)%>', 'new' ]"><mat-icon>add</mat-icon></a>
</form>
<div *ngIf="<%=camelize(name)%>List.length > 0">
  <!-- todo: figure out better material styling for alerts -->
  <div *ngIf="feedback.message" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <%_ let id = getId(model); -%>
  <table mat-table #table [dataSource]="<%=camelize(name)%>List" class="mat-elevation-z8 responsive-table">
    <%_ for (let field of getListFields(model)) { -%>
    <ng-container matColumnDef="<%=field.name%>">
      <mat-header-cell *matHeaderCellDef> <%=field.label%> </mat-header-cell>
      <mat-cell *matCellDef="let item; let i = index">
        <%_ if (field.type === 'relate') { -%>
        <a href="<%=pluralize(field.relationship.moduleId)%>/{{item.<%=field.relationship.idName%>}}">
        <!-- <a href="index.php?module=<%=field.module%>&offset={{i}}&stamp={$pageData.stamp}&return_module={$linkModule}&action={$action}&record={$record}"> -->
        <%_ } -%>

        <%_ if (field.type === 'url') { -%>
        <a href="{{item.<%=field.name%>}}">{{item.<%=field.name%>}}</a>
        <%_ } else if (field.type === 'image') { -%>
        <img src="{{item.<%=field.name%>}}">
        <%_ } else if (field.type === 'date') { -%>
        {{item.<%=field.name%> | date}}
        <%_ } else if (field.type === 'enum' || field.type === 'dynamicenum') { -%>
        {{enums['<%=field.name%>'][item.<%=field.name%>]}}
        <%_ } else { -%>
        {{item.<%=field.name%>}}
        <%_ } -%>
        <%_ if (field.type === 'relate') { -%>
        </a>
        <%_ } -%>
        </mat-cell>
    </ng-container>
    <%_ } -%>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let item">
        <a [routerLink]="['../<%=pluralize(name)%>', item.<%=id.name%> ]" mat-raised-button color="primary">Edit</a>&nbsp;
        <button (click)="delete(item)" mat-button color="warn"><mat-icon>delete</mat-icon></button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
</div>
