mat-card-title {
  text-align: center;
}

mat-spinner {
  position: absolute;
  z-index: 2;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

.cover {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
}
